<!DOCTYPE html>
<html>
       
    <head>

      <%- include('./partials/head') %>
      
    </head>
 
  <body>
    
      
    <header>

      <%- include('../views/partials/header') %>
      
    </header>

    <main>

      <%- include('../views/partials/home') %> 
     
    </main>
    

  </body>
  
  <footer>

    <%- include('../views/partials/footer') %>
   
  </footer>  
    
</html>
