:root {
    --quesoDerretido: #E67E22;
    --CrujienteMasa: #F1C40F;
    --ingredientesFrescos: #2ECC71;
    --limpieza: #ECF0F1;
    --fondo: #0D0D0D;
    --icono: #055325;
    --tomate: #E74C3C;
    --perita: #c5640f;
    --fondoAdmin: #f5f5f5;
    --Quemado: #000000;
    --tostado: #726d6d;
}