
.titulo__footer {
  color: var(--limpieza);
}

.titulo__footer-1 {
  font-size: 2rem;
  color: var(--limpieza);
}


.icons {
  background-color: var(--tomate);
  width: 100%;
  height: 100%;
  text-align: center;
}

.icons p {
  color: var(--limpieza);
  font-size: 1.2rem;
  text-align: center;
}

.footer__container {
  background-color: var(--fondo);
}

.img__footer {
  width: 40vw;
  height: 20vh;
  margin: auto;
}

i {
  font-size: 5vw;
  cursor: pointer;
  margin: 5vw;
  transition: transform 0.3s ease;
  

}


i:hover {
  transform: scale(1.3);
  color: var(--limpieza);
}

#scrollToTop {
  display: none;
}

.copy__footer{
  color: var(--limpieza);
  text-align: center;
}


/* Version Tablet */

@media (min-width: 768px) {

  .titulo__footer {
    font-size: 4.5rem;
  } 

  i {
    font-size: 3vw;
  }

  
  #scrollToTop {
    display: inline-block;
  }

  .arrow__footer{
  
    color: var(--limpieza);
    font-size: 1.1vw;
    position: relative;
    left: 23vw;
    background: var(--CrujienteMasa);
    padding: 1vw;
    border-radius: 50%;
  }
}


/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {

  div .img__footer {
    width: 20vw;
    height: 20vh;
    background-color: var(--fondo);
  }

  .titulo__footer {
    font-size: 3rem;
  }

  .titulo__footer p {
    font-size: 1rem;
  }

  .icono {
    font-size: 1.5vw;
    position: relative;
    left: 7vw;
  }

  .titulo__footer-1 {
    font-size: 2rem;
    color: var(--limpieza);
  }

  .footer__container {
    height: 26vh;
    background-color: var(--fondo);
  }
  
  div .img__footer {
    width: 20vw;
    height: 25vh;
    margin: 0 auto;
  }

  .arrow__footer{
    color: var(--limpieza);
    font-size: 1.1vw;
    position: relative;
    left: 25vw;
    background: var(--CrujienteMasa);
    padding: 1vw;
    border-radius: 50%;
  }

  html { 
    scroll-behavior: smooth; 
  }

}
