* {
    margin: 0;
}

canvas{
    position: absolute;
    right: 0vw;
    width: 50vw;
    height: 40vh;
    background: var(--fondo);
  }

.audio {
    position: relative;
    right: 0vw;
    width: 10vw;
    height: 9vh;
    bottom: 2vh;
   
  }
 

.container {
    background-color: var(--fondo);
    width: 100vw;
    font-family: "italiana", sans-serif;
    font-size: 1.3rem;
    display: flex;
    
}

.img-logo {
    width: 60vw;
    height: 40vh;
}


a {
    text-decoration: none;
    color: var(--icono);
    
}

li { 
    list-style-type: none;
    
}

.navbar ul {
    display: none;
    flex-direction: column;

}

.navbar ul li:hover {
    background: var(--icono);  
 
}

.navbar ul li a:hover {
    color:var(--limpieza);
    
}


.navbar ul.visible { 
    display: flex;
    position: absolute;
    top: 10%;
    right: 20%;
    gap: 0.2rem;    
    
}

.navbar ul li a {
    font-size: 1.1rem;
    text-align: center;
    color: var(--CrujienteMasa);
}


.menu {
    color: var(--icono);
    font-size: 160%;
}


.navbar div {
    cursor: pointer;
    position: relative;
    left: 100%;
    top: 17%;
    
        
}

/* VERSION TABLET */

@media (min-width: 768px) {
    
    .container{
        height: 30vh;
    }

    .img-logo {
        width: 40vw;
        height: 30vh;
    }

    .menu {
        font-size: 180%;
    }

    .navbar ul.visible {
       
        top: 6%;
        right: 30%;
    }

    .navbar div {
        cursor: pointer;
        position: relative;
        left: 200%;
        top: 5%; 
    }

    .navbar ul li a {
        font-size: 1.1rem;
    }

    canvas {
        position: absolute;
        right: -3vw;
        /* width: 70vw; */
        height: 30vh;
        /* background: var(--fondo); */

}
}


/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {

    canvas{
        position: absolute;
        right: 0vw;
        width: 80vw;
        height: 17vh;
        
      }

    
    .container{
        font-size: 1.6rem;
        height: 17vh; 
        position: fixed;
        top: 0;
        z-index: 1; 
           
    }

    .img-logo {
        width: 14vw;
        height: 17vh;
        position: relative;
        bottom: 9vw;
    }

   
    .navbar ul.visible {
        top: 30%;
        right: 20%;        
    }

    .navbar ul li a {
        font-size: 1.5rem;
    }

    .navbar i {
        display: none;
    }

    
    .navbar ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5vh;
    right: 10vw;
    gap: 6vw;    

    }

    li {
        padding: 0.8vw ;
        transition: all .5s;
        border-radius: 5%;
    }

}
    