
.img-banner {
    max-width: 100%;
}


img {
    width: 100vw;
    height: 43vh;    
}

.main-container {
    margin: 1%;
     
}

.sangria::first-letter{
    text-indent: 5rem;
    /* font-size: 2rem; */
 }

 .titulo__h1 {
   background: var(--ingredientesFrescos);
   transition: transform 0.3s ease;
 } 

 .titulo__h1:hover {
    transform: scale(1.1);
 }


h1 {
    color: var(--limpieza);
    font-family: "italianno";
    font-size: 3rem;
    font-weight: lighter;
    text-align: center;   
    padding: 2vh 0;
    
  }

.sangria {
    font-family: "italiana", sans-serif;
    text-align: justify;
    margin: 1rem;
    line-height: 1.5;

}

img { 
    display: block;
 }

 /* Version Tablet */

 @media (min-width: 768px) {

    img {
        width: 100vw;
        height: 50vh;
        
    }

    .sangria {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 4rem;
    }
}
 

/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {

    img {
        width: 100vw;
        height: 64vh;
        margin-top: 9vw;
        
    }

    h1 {
        font-size: 4rem;
        padding: 3vh 0;
    }

    .sangria {
        font-size: 1.5rem;
        color: var(--limpieza);
        line-height: 2;
    }

    .section {
        display: flex;
        background: var(--Quemado);
    }

    .sangria::first-letter{
        font-size: 3vw;
    }   

    }