
.main-container {
    margin: 0;
     
}

.boton__menu {
    background-color: #E67E22;
    color: white;
    display: flex;
    font-size: 4.6vw;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 78vw;
    top: -7vh;
    height: 5vh;
    width: 19vw;
    border-radius: 5vw;
    transition: all 0.3s ease;

}

.boton__menu:hover {
    background-color: #000000;
    color: #E74C3C;
    transform: scale(1.1);
}


.foto {
    margin: 5vh 0;    
    width: 100vw;
    height: 55vh; 
    transition: transform 0.3s ease;  
}

.foto:hover {
    transform: scale(1.1);
}

.titulo__menu {
    font-size: 2.5rem;
    margin-top: 2vh;
    
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 2em;  
}


h2, h3 {
    font-family: "italianno";
    font-weight: lighter;
    text-align: center;
    /* margin-bottom: 3%; */
    
}

p {
    margin-bottom: 5vh;
}

/* SECCION COMENTARIOS */ 

.comments-section {
    display: block; 
    text-align: center;
    justify-items: center;
    margin:3vh;
    margin-bottom: 5vh;
}

.comments-section2 {
    display: block; 
    text-align: center;
    justify-items: center;
    margin:3vh;
    
}

.comment img {
    border-radius: 15%;
    width: 19vw;
    height: 9vh;
    margin-bottom: 6vw;
    cursor: pointer;    
    transition: transform 0.3s ease; 
}

.comment img:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 5px 3px #726d6d;
}

.comment {
    
    width: 26vw; /* Ajustar el ancho */
    margin: 1.8vw;
    text-align: center;
    position: relative;
}

.comment p {
    font-size: .95rem;
    display: none;
    position: absolute;
    left: 100%;
    top: -3vw;
    margin-left: 3px;
    width: 31vw;
    font-size: .5rem;
    
}



 
/* Version Tablet */

@media (min-width: 768px) {

    .boton__menu {
        background-color: #E67E22;
        color: white;
        display: flex;
        font-size: 1.6vw;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 6vw;
        top: 36vh;
        height: 4.5vh;
        width: 10vw;
        border-radius: 3vw;
        transition: all 0.3s ease;
    }

    .food article { 
        flex: 1 1 30%;
    }   

    .food {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

    }

    .foto {
        margin-bottom: 5vh;    
        max-width: 80%;
        height: 20vh;
        margin: 2px;
        margin: 0 auto;
    } 

    .food__2 article { 
        flex: 1 1 30%;
    }  

  
    h2 {
        font-size: 5rem; 
    }

    p {
        font-size: 1.2rem;
    }

    .main-container p::first-letter {
        font-size: 2rem;
    }

    /* SECCION COMENTARIOS */ 

.comments-section {
    display: flex;
    justify-content: center;
}



.comment {
    width: 26vw; /* Ajustar el ancho */
    margin: 1.8vw;
    text-align: center;
    position: relative;
}

.comment img {
    width: 13vw;
    height: 20vh;
    /* object-fit: cover; */
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.comment img:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 5px 3px #726d6d;
}

.comment p {
    font-size: .95rem;
    display: none;
    position: absolute;
    left: 78%;
    top: -3vw;
    margin-left: 3px;
    width: 13vw;
    font-size: .7rem;
    
}

/* SEGUNDO CUADRO DE COMENTARIOS */

.comments-section2 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}



.comment p {
    font-size: .95rem;
    display: none;
    position: absolute;
    left: 80%;
    top: -4vw;
    margin-left: 3px;
    width: 12vw;
    font-size: .57rem;
    
 }

}


/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {

    h3 {
        font-size: 2.5rem;
    }

    h2, h3 {
        margin-bottom: 2%;
        
    }

    .foto {
        border-radius: 0.8vw;
        margin-bottom: 5vh;    
        max-width: 70%;
        height: 26vh;
        box-shadow: 2px 2px 30px 0px #0D0D0D;
    }

    .foto__ensalada {
        width: 30vw;
        height: 40vh;
       
    }


    .food p {
        font-size: 1.2rem;
      
    }

    .boton__menu {
        background-color: #E67E22;
        color: white;
        display: flex;
        font-size: 1.6vw;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 80vw;
        top: 7vh;
        height: 6vh;
        width: 9vw;
        border-radius: 10vw;
        transition: all 0.3s ease;
    
    }

    .boton__menu:hover {
        background-color: #000000;
        color: #E74C3C;
        transform: scale(1.1);
    }

    
/* PRIMER CUADRO DE COMENTARIOS */
.comments-section {
    display: flex;
    justify-content: center;
}

.comments-section img {
    width: 15vw;
    height: 15vh;
}

.comment {
    width: 24vw; /* Ajustar el ancho */
    margin: 1.8vw;
    text-align: center;
    position: relative;
}

.comment img {
    width: 12vw;
    height: 23vh;
    /* object-fit: cover; */
    margin: auto;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.comment img:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 5px 3px #726d6d;
}

.comment p {
    font-size: .95rem;
    display: none;
    position: absolute;
    left: 78%;
    top: -1vw;
    margin-left: 3px;
    width: 13vw;
    font-size: .7rem;
    font-weight: bold;
    
}

/* SEGUNDO CUADRO DE COMENTARIOS */

.comments-section2 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

/* Flecha para arriba */

.arrow2{
    color: var(--limpieza);
    font-size: 1.1vw;
    position: relative;
    left: 80vw;
    background: var(--CrujienteMasa);
    padding: 1vw;
    border-radius: 50%;
  }

html { 
    scroll-behavior: smooth; 
  }

    
}