/* VERSION MOVIL */

.titulo__productEdit {
  color: var(--fondo);
  font-size: 1.6rem;
  padding: 1vh;
}

.form__productEdit {
  background: var(--CrujienteMasa);
  color: var(--fondo);
  height: 52vh;
  margin: 0 auto;
  width: 80vw;
  padding-top: 1vh;
  border-radius: 2vw;
}

.form__productEdit input {
  margin: 0 auto;
  height: 6.5vh;
  cursor: pointer;
}

input[type="file"].file {
  position: relative;
  top: 0vh;
}

.btn_productEdit {
  background: var(--quesoDerretido);
  border-radius: 1vh;
  color: var(--limpieza);
  margin-top: 5vh;
  width: 35vw;
  height: 5vh;
  position: relative;
  margin: 0 auto;
  top: 4vh;
}

/* VERSION TABLET */

@media (min-width: 768px) {
  .titulo__productEdit {
    font-size: 2.3rem;
    margin-top: 0.5vh;
    padding: 1vh;
  }

  .form__productEdit {
    width: 65vw;
    height: 55vh;
  }

  .form__productEdit input {
    height: 6.5vh;
    margin: 0 auto;
    margin-top: 0.5vh;
    width: 52vw;
  }

  .btn_productEdit {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .titulo__productEdit {
    font-size: 2.6rem;
    margin-top: 20vh;
  }

  .form__productEdit {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    background-color: var(--CrujienteMasa);
    border-radius: 1rem;
  }

  .form__productEdit input {
    margin: 0 auto;
    width: 40vw;
    padding: 1vw;
  }

  .submit__productAdd {
    background-color: #c0392b;
  }

  .btn_productEdit {
    background: var(--quesoDerretido);
    border-radius: 2vh;
    color: var(--limpieza);
    font-size: 1rem;
    width: 15vw;
    height: 5vh;
  }

  input::placeholder {
    color: var(--limpieza);
    font-size: 1rem;
  }

  input:focus {
    outline: none;
  }
  input:hover {
    transform: scale(1.03);
  }

  .select {
    cursor: pointer;
    background: var(--quesoDerretido);
    margin-top: 3vh;
  }

  .checkbox-container {
    /* display: block; */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en filas */
    justify-content: space-around;
    /* gap: 10px; Espaciado entre las opciones */
  }

  .checkbox {
    margin: 1.3vw;
    font-size: 2px;
  }

  .checkbox input[type="checkbox"] {
    /* margin-right: 8px; Espaciado entre el checkbox y el texto */
    transform: scale(1.2); /* Agranda los checkboxes */
  }

  .checkbox input[type="checkbox"]:checked + span {
    font-weight: bold; /* Resalta el texto de las opciones seleccionadas */
    color: #007bff; /* Cambia el color del texto */
  }
  input[type="checkbox"] {
    width: 10px; /* Ajusta el ancho (opcional) */
    height: 10px; /* Ajusta la altura (opcional) */
    transform: scale(0.8); /* Reduce el tamaño general del checkbox */
    margin: 0.5vw; /* Espaciado opcional para mejorar la visualización */
    cursor: pointer; /* Cambia el cursor al pasar sobre el checkbox */
  }

  .ingredientes__name {
    margin: -0.8vw;
    font-size: 1rem;
  }
}
