/* VERSION MOVIL */

.titulo__productEdit {
  color: var(--fondo);
  font-size: 1.6rem;
  padding: 1vh;
}

.form__productEdit {
  background: var(--CrujienteMasa);
  color: var(--fondo);
  height: 73vh;
  margin: 0 auto;
  width: 80vw;
  padding-top: 1vh;
  border-radius: 2vw;
}

.input__productEdit {
  background: var(--CrujienteMasa);
  border: none;
  border-bottom: .1vw solid var(--quesoDerretido);
  text-align: center;
  width: 50vw;
  margin: 0 auto;
  margin-top: 1vh;
}

input[type="checkbox"] {
  display: flex;
  transform: scale(.8);
  cursor: pointer;
}

.checkbox-titulo {
  font-size: .8rem;
  text-align: center;
  margin-top: 1vh;
}

.checkbox-container-edit {
  display: flex;
  flex-wrap: wrap;
  gap: .8vw;
  margin-left: 2vw;
  margin-top: 2vh;

}

.checkbox-container-edit input[type="checkbox"] {
  width: 14px;
  /* Tamaño uniforme */
  height: 14px;
  margin: 0 auto;
  cursor: pointer;
}

.ingredientes__nombre {
  /* text-align: center; */
  font-size: .7rem;
}

/* .form__productEdit input {
  margin: 0 auto;
  
  cursor: pointer;
} */

input[type="file"].file {
  position: relative;
  top: 0vh;
}

.labels {
  font-size: .8rem;
  font-weight: 500;
  margin-top: 2vh;
  margin-left: 2vw;
}

.select__productEdit {
  cursor: pointer;
  background: var(--quesoDerretido);
  font-size: .7rem;
  margin-top: 1vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  width: 16vw;
  height: 4vh;
  border-radius: .5rem;
}

.container__select {
  display: flex;
  margin: 0 auto;
  margin-top: 2vh;
}

.precio__imagen {
  margin-top: 7vh;
  margin-left: 2vw;
}

.precio__imagen {
  display: flex;
  flex-direction: column;
}

#precio{
  width: 15vw;
    background: var(--CrujienteMasa);
    border: none;
    border-bottom: 0.1vw solid var(--quesoDerretido);
    text-align: center;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

.input__price {
  background: var(--CrujienteMasa);
  border: none;
  border-bottom: .1vw solid var(--quesoDerretido);
  text-align: center;
  width: 10vw;
  margin-bottom: 2vh;

}

.btn_productEdit {
  background: var(--quesoDerretido);
  border-radius: 1vh;
  color: var(--limpieza);
  font-size: .7rem;
  margin-top: 5vh;
  width: 30vw;
  height: 5vh;
  position: relative;
  margin: 0 auto;
  top: 3vh;
}

.atras {
  background: var(--ingredientesFrescos);
  color: var(--fondo);
  border: none;
  position: absolute;
  padding: 3px 6px;
  cursor: pointer;
  margin-right: 2vw;
  border-radius: 1vw;
  font-family: 'Italianno';
  font-size: 1rem;
  left: 5vw;
  bottom: 55vh;
}

/* VERSION TABLET */

@media (min-width: 768px) {
  .titulo__productEdit {
    font-size: 1.7rem;

  }

  .form__productEdit {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    background-color: var(--CrujienteMasa);
    border-radius: 1rem;
  }

  .form__productEdit input {
    font-size: .8rem;
    width: 30vw;
    padding: 1vw;
    background: var(--CrujienteMasa);
    border: none;
    border-bottom: .1vw solid var(--quesoDerretido);
    text-align: center;
  }



  .submit__productAdd {
    background-color: #c0392b;
  }

  .btn_productEdit {
    background: var(--quesoDerretido);
    border-radius: 2vh;
    color: var(--limpieza);
    font-size: .7rem;
    position: relative;
    left: 33vw;
    width: 15vw;
    height: 5vh;
    top: 9vh;
  }

  input::placeholder {
    color: var(--limpieza);
    font-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  input:hover {
    transform: scale(1.03);
  }

  .container__select {
    /* display: block; */
    margin-left: 0;
    margin-top: 2vh;
  }

  .select__productEdit {
    cursor: pointer;
    background: var(--quesoDerretido);
    margin-top: 1vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    width: 12vw;
    height: 4vh;
    border-radius: .5rem;
  }

  .precio__imagen {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 52vw;
    top: 64vh;
  }

  .price {
    width: 5vw;
  }

  .checkbox-titulo {
    margin-top: 1vh;
    font-size: .8rem;
  }


  .checkbox-container-edit {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
  }

  .checkbox {
    margin: 1.3vw;
    font-size: 2px;
  }

  .checkbox input[type="checkbox"]:checked+span {
    font-weight: bold;
    /* Resalta el texto de las opciones seleccionadas */
    color: #007bff;
    /* Cambia el color del texto */
  }

  .ingredientes__name {
    margin: -0.8vw;
    font-size: 1.5rem;
  }

  .ingredientes__nombre {
    text-align: center;
    font-size: .7rem;
  }

  .atras {
    background: var(--ingredientesFrescos);
    color: var(--fondo);
    border: none;
    position: absolute;
    padding: 4px 8px;
    cursor: pointer;
    margin-right: 2vw;
    border-radius: 1vw;
    font-family: 'Italianno';
    font-size: 1.2rem;
    bottom: 64vh;
    left: 5vw;
  }
}

/* VERSION DESKTOP */

@media (min-width: 1024px) {

  .titulo__productEdit {
    font-size: 2.6rem;
    margin-top: 20vh;
  }

  .form__productEdit {
    width: 90vw;
    height: 60vh;
    margin: 0 auto;
    background-color: var(--CrujienteMasa);
    border-radius: 1rem;
  }

  .form__productEdit input {
    font-size: 1rem;
    margin: 0 auto;
    width: 20vw;
    padding: 1vw;
    height: 6.5vh;
  }

  .submit__productAdd {
    background-color: #c0392b;
  }

  input::placeholder {
    color: var(--limpieza);
    font-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  input:hover {
    transform: scale(1.03);
  }

  .labels {
    font-size: .9rem;
    margin-left: 1vw;
  }

  .select__productEdit {
    cursor: pointer;
    background: var(--quesoDerretido);
    /* margin-top: 1vh; */
    /* margin-bottom: 2vh; */
    /* margin-left: 2vw; */
    width: 12vw;
    height: 4vh;
    border-radius: .5rem;
  }

  .ingredientes__nombre {
    margin-top: 1vh;
  }

  .precio__imagen {
    display: flex;
    flex-direction: column;
    /* gap: 1vh; */
    position: absolute;
    left: 52vw;
    top: 55vh;
  }

  .checkbox-titulo {
    font-size: 1rem;
  }

  .checkbox-container {
    /* display: block; */
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan en filas */
    justify-content: space-around;
    /* gap: 10px; Espaciado entre las opciones */
  }

  .checkbox-container-edit {
    display: flex;
    flex-wrap: wrap;
  }

  .checkbox {
    margin: 1.3vw;
    font-size: 2px;
  }

  .checkbox input[type="checkbox"]:checked+span {
    font-weight: bold;
    /* Resalta el texto de las opciones seleccionadas */
    color: #007bff;
    /* Cambia el color del texto */
  }

  input[type="checkbox"] {
    display: flex;
    transform: scale(1.2);
    cursor: pointer;
  }

  .ingredientes__name {
    margin: -0.8vw;
    font-size: 1.5rem;
  }

  .ingredientes__nombre {
    text-align: center;
    font-size: .9rem;
  }

  .container__select {

    margin-top: -1vh;
  }

  .btn_productEdit {

    border-radius: 1vh;
    font-size: .9rem;
    position: relative;
    left: 33vw;
    width: 10vw;
    height: 5vh;
    top: 1vh;
  }


  .atras {
    background: var(--ingredientesFrescos);
    color: var(--fondo);
    border: none;
    position: absolute;
    padding: 7px 10px;
    cursor: pointer;
    margin-right: 2vw;
    border-radius: 1vw;
    font-family: 'Italianno';
    font-size: 1.5rem;
    left: 5vw;
    bottom: 75vh;
  }
}