/* VERSION MOVIL */

.titulo__productAdd {
  color: var(--fondo);
  font-size: 1.9rem;
  margin-top: 0.5vh;
  padding: 1vh;
}

.form__productAdd {
  width: 75vw;
  margin: 0 auto;
  background-color: var(--CrujienteMasa);
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.ingredients__box {
  width: 50%;
}

.name__label {
  font-size: 0.8rem;
}

.category__select {
  margin: 20px 0;
  text-align: center;
  width: 50%;
}

.category__label {
  font-weight: 600;
  font-size: .9rem;
  color: var(--limpieza);
}

.size__label {
  font-weight: 600;
  font-size: .9rem;
  color: var(--limpieza);
}

.input__add {
  background: var(--CrujienteMasa);
   border: none;
  border-bottom: .1vw solid var(--quesoDerretido);
  font-size: 0.8rem;
  width: 70vw;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 1vh;
}


.containerAdd__ingredients-label {
  font-weight: 600;
  font-size: .9rem;
  color: var(--limpieza);
}

.file__label {
  font-weight: 600;
  font-size: .9rem;
  color: var(--limpieza);
}

.file__input {
  font-size: 0.8rem;
  width: 80%;
}

.input__add2 {
  width: 5vw;
  cursor: pointer;
  margin: 0 auto;
}
.container__checkbox {
  display: flex;
  align-items: center;
}

.container__checkbox-input {
  width: 50px;
  margin: 0;
}

.form__inside {
  position: absolute;
  left: 46vw;
  bottom: 27vh;
  margin: 1vw;
  padding: 2px;
}

.containerAdd {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}


.tamaño {
  position: absolute;
  left: 46vw;
  top: 23vh;
  padding: 2px;
}

.btn_productAdd {
  background: var(--quesoDerretido);
  border-radius: 1vh;
  color: var(--limpieza);
  font-size: 0.8rem;
  position: relative;
  top: 2vh;
  left: 16vw;
  width: 40vw;
  height: 5vh;
}

.btn__back {
  background: var(--ingredientesFrescos);
  color: var(--fondo);
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  /* margin-right: 1vw; */
  border-radius: 1vw;
  font-family: "Italianno";
  font-size: 1.3rem;
  position: absolute;
  top: 42vh;
  left: 7vw;
}

.btn__back:hover {
  transition: ease-in-out 0.2s;
  background: var(--fondo);
  color: var(--limpieza);
}

.errors {
  background: var(--tomate);
  color: var(--limpieza);
  font-size: 0.8rem;
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.errors {
  position: absolute;
  left: 2vw;
  width: 15vw;
  top: 28vh;
}

.error-message {
  color: var(--tomate);
  font-size: .9rem;
  margin-top: 5px;
  display: none; /* Oculto por defecto */
}

.invalid {
  border: none; /* Elimina cualquier borde existente */
  border-bottom: 1px solid var(--tomate); /* Solo aplica el borde inferior */
}

/* VERSION TABLET */

@media (min-width: 768px) {
  .form__productAdd {
    width: 75vw;
    padding: 1rem;
  }

  .input__add {
    font-size: 0.8rem;
    width: 70vw;
  }

  .container__add label {
    left: 3vw;
  }

  input[type="file"].input__add {
    position: absolute;
    top: 32vh;
    width: 41vw;
  }

  .ingredients__box {
  width: 14%;
}

  .form__inside {
    left: 43vw;
    bottom: 29vh;
  }

  .tamaño {
    position: absolute;
    left: 63vw;
    top: -0.8vh;
    padding: 2px;
  }

  .btn_productAdd {
    top: 2vh;
    width: 20vw;
    text-align: center;
  }

  .btn__back {
    padding: 2.5px 12.5px;
    font-size: 1.5rem;
    border-radius: 2vw;
    top: 32vh;
    left: 10vw;
  }
  .errors {
    margin: 0 auto;
    margin-bottom: 2vh;
    width: 78vw;
    font-size: 0.9rem;
  }

  /* VERSION DESCKTOP */

  @media (min-width: 1024px) {
    .titulo__productAdd {
      font-size: 2.5rem;
      margin-top: 18vh;
      padding: 1vh;
    }

    .containerAdd {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
    }

    .form__productAdd {
      width: 60vw;
      height: 60vh;
      padding: 1rem;
    }

    .containerAdd__ingredients {
      width: 60%;
      height: 400px;
    }

    .containerAdd__ingredients-label {
      font-weight: 800;
      font-size: 1rem;
      color: var(--limpieza);
    }

    .name__label {
      font-size: .75rem;
      margin-bottom: .5vh;
    }

    .ingredients {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
    }

    .ingredients__box {
      font-weight: 550;
      width: 24%;
      /* display: flex; */
      align-items: center;
    }

    .categ {
      width: 40%;
    }

    .category__label {
      font-size: 1rem;
      font-weight: 800;
    }

    .category__select {
      margin: 20px 0;
      width: 90%;
    }

    .size__label {
      font-size: 1rem;
      font-weight: 800;
    }

    .size__label-div {
      display: flex;
      flex-wrap: wrap;
      margin: 20px 0;
    }

    .container__checkbox {
      display: flex;
      align-items: center;
    }

    .container__checkbox-input {
      width: 50px;
      margin: 0;
    }

    .file__label {
      font-weight: 800;
      font-size: 1rem;
      color: var(--limpieza);
    }

    .file__input {
      width: 90%;
    }

    .input__add {
      font-size: 0.5rem;
      width: 58vw;
      padding: 1.5vh;
    }

    .container__add label {
      left: 3vw;
    }

    input[type="file"].input__add {
      position: absolute;
      top: 26vh;
      width: 41vw;
    }

    .form__inside {
      left: 30vw;
      bottom: 22vh;
    }

    .tamaño {
      position: absolute;
      left: 50vw;
      top: -0.8vh;
      padding: 2px;
    }

    .btn_productAdd {
      top: 14vh;
      left: 2vw;
      width: 15vw;
      font-size: 1rem;
      text-align: center;
    }

    .btn__back {
      padding: 5px 15px;
      font-size: 1.5rem;
      border-radius: 2vw;
      top: 20vh;
      left: 3vw;
    }

    .errors {
      background: var(--tomate);
      color: var(--limpieza);
      position: absolute;
      left: 2vw;
      width: 15vw;
      top: 28vh;
    }

    .error-message {
      color: var(--tomate);
      font-size: 1rem;
      margin-top: 5px;
      display: none; /* Oculto por defecto */
    }

    .invalid {
      border: none; /* Elimina cualquier borde existente */
      border-bottom: 1px solid red; /* Solo aplica el borde inferior */
  }
  
  }
}
