/* VERSION MOVIL */

.img-producto {
    /* border-radius: 45%; */
    height: 17vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 32vw;
    transition: transform 0.9s ease-in-out;
}

.img-producto:hover {
    transform: scale(1.1) scale(1);
}

.car {
    color:var(--icono);
    font-size: 6vw;
    position: absolute;
    left: 75vw;
    top: 60vh;
    transition: transform 0.3s ease;
}


.car:hover {
    transform: scale(1.12);
    color: var(--quesoDerretido);
  }

.description {
    font-size: .8rem;
    margin: 0 auto;
    width: 80vw;
    font-weight: bold;
}

.nombre__descripcion {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    left: 34vw;
    top: 60vh;
}

.precio:hover{
    transform: scale(1.1);
}

.precio p {
    color: var(--limpieza);
    font-size: 5vw;
    
}

.boton {
    background: var(--ingredientesFrescos);
    height: 6vh;
    width: 10vw;
    position: relative;
    left: 23vw;
    transition: transform 0.3s ease;
    font-size: .8rem;
    padding: 5px;

}

.cantidad {
    font-size: .8rem;
    position: absolute;
    left: 70vw;
    bottom: 50vh;
    background: var(--CrujienteMasa);
    padding: .2rem;
}

.contador_cart { 
    display: flex;
    gap: 5vw;
    margin: 0 10px;
    margin-top: 3vh;
    margin-left: 4vh;
} 

.costo{
    font-size: .8rem;
    position: absolute;
    left: 70vw;
    bottom: 45vh;
    background: var(--CrujienteMasa)
}

span {
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    left: 83vw;
    bottom: 45vh;
}

.precio__total{
    background: var(--quesoDerretido);
}

.contador__valor{
    position: absolute;
    left: 87vw;
    margin-bottom: 5.5vh;
}

.b-back {
    color: var(--limpieza);
    font-size: .8rem;
    position: relative;
    left: 5vw;
    bottom: 45vh;
    background: var(--CrujienteMasa);
    padding: 1vw;
    border-radius: 2vw;
}


/* -----VERSION TABLET----- */


@media (min-width: 768px) {

    .img-producto {
        width: 20vw;
        height: 17vh;
        /* border-radius: 45%;        */
    }

    .boton {
        height: 6vh;
        width: 7vw;
        left: 31vw;
        font-size: 1.1rem;
        padding: 5px;

    }
    
    .precio {
        width: 17vw;
        height: 6vh;
        background-color: var(--quesoDerretido);
        font-weight:15px;
        border-radius: 10px;
        position: relative;
        left: 20vw;
    }

    .precio p {
        font-size: 1.9rem;
        text-align: center;
        font-weight: bold;

    } 

    .car {
        font-size: 4vw;
        top: 55vh;
        left: 66vw;
    }

    .description {
        font-size: 1rem;
        width: 45vw;
        margin-top: 6vh;
    }

    .costo{
        font-size: 1.1rem;
        left: 65vw;
        bottom: 55vh;
    }

    .contador_cart { 
        display: flex;
        gap: 3vw;
        margin: 0 10px;
        margin-top: 5vh;
        margin-left: 5vw;
    } 

    .contador__valor {
        font-size: 1rem;
        left: 77vw;
        margin-bottom: 5.5vh;
    }

    .contador_total{
        margin-top: 5vh;
    }

    span {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        left: 75vw;
        bottom: 55vh;
    }

    .nombre__descripcion{
        font-size: 1rem;
        position: absolute;
        left: 41vw;
        top: 51vh;
    }

    .b-back {
        font-size: .9rem;
        position: relative;
        left: 5vw;
        bottom: 60vh;
        padding: 1vw;
        border-radius: 2vw;
    }

    .cantidad {
        font-size: 1.1rem;
        left: 65vw;
        bottom: 60vh;
    }

}
/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {


    /* .precio {
        top: 20vh;
    } */

    .precio p {
        font-size: 2.6rem;
        text-align: center;
        font-weight: bold;
    }

    .img-producto {
        width: 15vw;
        height: 30vh;
        margin: auto;
        margin-bottom: 6vh;
        margin-top: 25vh;
        /* border-radius: 50%; */
    }
    
    .description {
        width: 25vw;
        margin: auto;
        font-size: 1rem;
        margin-top: 7vh;
    }
    
    .boton {
        width: 4vw;
        height: 6vh;
        font-weight:15px;
        border-radius: 10px;
        left: 37vw;
        font-size: 1.2rem;
        padding: 5px;

    }

    .car {
        color: var(--icono);
        font-size: 3vw;
        position: absolute;
        left: 60vw;
        /* bottom: 7vh; */
        top: 50vh;
        cursor: pointer;
    }

    .contador_cart { 
        display: flex;
        gap: 2.5vw;
        /* margin: 0 10px; */
        margin-left: 5vw;
    } 

    .contador__valor{
        font-size: 1.5rem;
        position: absolute;
        left: 73vw;
        margin-bottom: 4.5vh;
    }

    span {
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        left: 71vw;
        bottom: 56.5vh;
    }

    
    .b-back {
        color: var(--limpieza);
        font-size: 1.3vw;
        position: relative;
        left: 10vw;
        bottom: 67vh;
        background: var(--CrujienteMasa);
        padding: .8vw;
        border-radius: 1.5vw;
    }

    .precio__total{
        position: absolute;
        
    } 
    
    .cantidad {
        font-size: 1.5rem;
        position: absolute;
        left: 65vw;
        bottom: 65vh;
    }
    
    .costo{
        font-size: 1.5rem;
        position: absolute;
        left: 65vw;
        bottom: 52vh;
        background: var(--CrujienteMasa)
    }

    .nombre__descripcion{
        
        font-size: 1.5rem;
        position: absolute;
        left: 44vw;
        top: 55vh;
    }
}
