/* VERSION MOVIL */

.titulo__productAdd {
  color: var(--fondo);
  font-size: 1.9rem;
  margin-top: 0.5vh;
  padding: 1vh;
}

.form__productAdd {
  width: 75vw;
  margin: 0 auto;
  background-color: var(--CrujienteMasa);
  align-items: center;
  border-radius: 1rem;
  padding: 1.5rem;
}


.ingredients {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.ingredients__box {
  width: 50%;

}

.name__label{
  font-size: .8rem;
}

.category__select {
  margin: 20px 0;
  text-align: center;
  width: 50%;
}

.category__label {
  font-weight: 600;
  font-size: 1rem;
  color: var(--limpieza);
}

.size__label {
  font-weight: 600;
  font-size: 1rem;
  color: var(--limpieza);
}

.input__add {
  font-size: 0.8rem;
  width: 70vw;
  cursor: pointer;
  margin: 0 auto;
}

.input__add2 {
  width: 5vw;
  cursor: pointer;
  margin: 0 auto;
}


.containerAdd__ingredients-label {
  font-weight: 600;
  font-size: 1rem;
  color: var(--limpieza);
}

.file__label {
  font-weight: 600;
  font-size: 1rem;
  color: var(--limpieza);
}

.file__input {
  font-size: .8rem;
  width: 80%;
}

.container__checkbox {
  display: flex;
  align-items: center;
}

.container__checkbox-input {
  width: 50px;
  margin: 0;
}

/* input[type="file"].input__add {
  position: absolute;
  top: 40vh;
} */

.form__inside {
  position: absolute;
  left: 46vw;
  bottom: 27vh;
  margin: 1vw;
  padding: 2px;
}

.containerAdd {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

/* .container__add {
  position: relative;
  padding-left: 5px;
  cursor: pointer;
  font-size: 0.9rem;
  top: 3vh;
} */

/* .container__add label {
  position: relative;
  font-size: 0.9rem;
  bottom: 2.5vh;
} */

.tamaño {
  position: absolute;
  left: 46vw;
  top: 23vh;
  padding: 2px;
}

.btn_productAdd {
  background: var(--quesoDerretido);
  border-radius: 1vh;
  color: var(--limpieza);
  font-size: 0.8rem;
  position: relative;
  top: 2vh;
  left: 16vw;
  width: 40vw;
  height: 5vh;
}

.btn__back {
  background: var(--ingredientesFrescos);
  color: var(--fondo);
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  margin-right: 1vw;
  border-radius: 1vw;
  font-family: "Italianno";
  font-size: 1.3rem;
  position: absolute;
  top: 42vh;
}

.btn__back:hover {
  transition: ease-in-out 0.2s;
  background: var(--fondo);
  color: var(--limpieza);
}
/* VERSION TABLET */

@media (min-width: 768px) {
  .form__productAdd {
    width: 75vw;
    /*     height: 70vh;
 */
    padding: 1rem;
  }

  .input__add {
    font-size: 0.8rem;
    width: 70vw;
  }

  .container__add label {
    left: 3vw;
  }

  input[type="file"].input__add {
    position: absolute;
    top: 32vh;
    width: 41vw;
  }

  .form__inside {
    left: 43vw;
    bottom: 29vh;
  }

  .tamaño {
    position: absolute;
    left: 63vw;
    top: -0.8vh;
    padding: 2px;
  }

  .btn_productAdd {
    top: 14vh;
    width: 30vw;
    text-align: center;
  }

  .btn__back {
    padding: 2.5px 12.5px;
    font-size: 1.5rem;
    border-radius: 2vw;
    top: 32vh;
    left: 2vw;
  }
}
/* VERSION DESCKTOP */

@media (min-width: 1024px) {
  .titulo__productAdd {
    font-size: 2.5rem;
    margin-top: 18vh;
    padding: 1vh;
  }

  .containerAdd {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .form__productAdd {
    width: 60vw;
    padding: 1rem;
  }

  .containerAdd__ingredients {
    width: 60%;
    height: 400px;
  }

  .containerAdd__ingredients-label {
    font-weight: 800;
    color: var(--limpieza);
  }

  .name__label{
    font-size: 1rem;
  }

  .ingredients {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .ingredients__box {
    width: 50%;
    display: flex;
    align-items: center;
  }

  .categ{
    width: 40%;
  }

  .category__label {
    font-weight: 800;
  }

  .category__select {
    margin: 20px 0;
    width: 90%;
  }

  .size__label {
    font-weight: 800;
  }

  .size__label-div {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
  }

  .container__checkbox {
    display: flex;
    align-items: center;
  }

  .container__checkbox-input {
    width: 50px;
    margin: 0;
  }

  .file__label {
    font-weight: 800;
    color: var(--limpieza);
  }

  .file__input {
    width: 90%;
  }

  .input__add {
    font-size: 0.8rem;
    width: 58vw;
    padding: 1.5vh;
  }

  .container__add label {
    left: 3vw;
  }

  input[type="file"].input__add {
    position: absolute;
    top: 26vh;
    width: 41vw;
  }

  .form__inside {
    left: 30vw;
    bottom: 22vh;
  }

  .tamaño {
    position: absolute;
    left: 50vw;
    top: -0.8vh;
    padding: 2px;
  }

  .btn_productAdd {
    top: 14vh;
    left: 2vw;
    width: 15vw;
    font-size: 1rem;
    text-align: center;
    /* width: 90%; */
  }

  .btn__back {
    padding: 5px 15px;
    font-size: 1.5rem;
    border-radius: 2vw;
    top: 20vh;
    left: 3vw;
  }
}
