
/* VERSION DESCKTOP */


@media (min-width: 1024px) {
    .titulo__productAdd {
        color: var(--fondo);
        font-size: 4rem;
    }

    /* .form__productAdd {
        display: flex;
       
        margin: 0 auto;
        margin-top: 5vh;
        background: var(--tostado);
        width: 5vw;
        height: 64vh;
        border-radius: 1rem;
    } */
     

    .form__productAdd {
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        /* flex-wrap: nowrap; Permitir que los elementos se envuelvan   */
        background-color: var(--CrujienteMasa);      
        /* width: 100vw; */
        /* padding: 2rem; Añadir relleno */
    }

    .input__add {
        /* width: 5vw; */
        height: 1vh;
        cursor: pointer;
    } 

   .submit__productAdd {
        background-color: #c0392b;
    
   }

    .btn_productAdd {
        position: absolute;
        margin-top: 10vh;
        width: 5vw;
        height: 5vh;
        bottom: 10vh;
        
   }

   .input__add::placeholder { 
    color:var(--limpieza); 
    /* font-size: .05rem;    */
   }

   .input__add:focus { 
    outline: none;    
}
    .input__add:hover { 
        transform: scale(1.03);    
    }

    select {
            color:  var( --limpieza);
            font-size: .9rem;
            margin: 0 auto;
            background: var(--tostado);
            /* width: 25vw; */
            height: 5vh;
            border-top: none;
            border-right: none;
            border-left: none; 
            border-bottom: .1vw solid var(--quesoDerretido);       
    }

    .ingredient-checkbox {
        display: flex;
        /* flex-wrap: nowrap; */
        align-items: start;
        /* gap: 0.5rem; */
    }


}
