/* VERSION MOVIL */

/* }} */

.img_productEspecific {
    /* border-radius: 45%; */
    height: 30vh;
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 45vw;
    transition: transform 0.3s ease;
}

.img_productEspecific__img {
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease;
}

.img_productEspecific:hover {
    transform: scale(1.12);
}

.car {
    color:var(--icono);
    font-size: 3.5vw;
    position: absolute;
    left: 22vw;
    top: 82vh;
    transition: transform 0.3s ease;
}


.car:hover {
    transform: scale(1.12);
    color: var(--quesoDerretido);
  }

.description_productEspecific {
    width: 40vw;
    height: 25vh;
    color: var(--limpieza);
    margin: auto;
    font-size: .8rem;
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajuste de centrado */
    background-color: rgba(60, 64, 65, 0.5); /* 50% de opacidad - Fondo semitransparente */
    padding: 10px;
    border-radius: 8px;
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 0.5s ease; /* Transición suave */
    
}

.description_productEspecific p{
    text-align: center;
    /* margin-bottom: -1vh; */
} 

.h3__descripcion{
    margin-top: 1vh;
    font-size: 1.5rem;
}


.img_productEspecific:hover .description_productEspecific {
    opacity: 1; /* Mostrar descripción al pasar el cursor sobre la imagen */
}

.nombre__descripcionp {
    margin: -2vh;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}

.precio:hover{
    transform: scale(1.1);
}

/* .precio p {
    color: var(--limpieza);
    font-size: 5vw;
} */


.p__ingredientes{
    font-size: .7rem;
    position: relative;
    bottom: 2vh;
    right: 5vw;
    line-height: 1.2;
}

.p__precio{
    color: var(--CrujienteMasa);
    font-size: 1.1rem;
    position: relative;
    right: 5vw;
    bottom: 2vh;
}

.boton {
    background: var(--ingredientesFrescos);
    border-radius: 8px;
    height: 6vh;
    width: 11vw;
    position: relative;
    left: 23vw;
    transition: transform 0.3s ease;
    font-size: .8rem;
    padding: 5px;

}

.Back {
    color: var(--limpieza);
    font-size: .7rem;
    position: relative;
    left: -3vw;
    top: -45vh;
    background: var(--CrujienteMasa);
    padding: 2vw;
    border-radius: 5vw;

}


/* -----VERSION TABLET----- */


@media (min-width: 768px) {

    .img_productEspecific {
        width: 35vw;
        height: 37vh;
    }

    .description_productEspecific{
        width: 30vw;
        height: 35vh;
    }

    .nombre__descripcionp {
        font-size: 1.3rem;
        text-align: center;
    }

    .boton {
        border-radius: 10px;
        height: 6vh;
        width: 8vw;
        left: 31vw;
        font-size: 1.1rem;
        padding: 5px;

    }
    
    .precio {
        width: 17vw;
        height: 6vh;
        background-color: var(--quesoDerretido);
        font-weight:15px;
        border-radius: 10px;
        position: relative;
        left: 20vw;
    }

    .precio p {
        font-size: 1.9rem;
        text-align: center;
        font-weight: bold;

    } 

    .h3__descripcion{
        margin-top: 2vh;
        font-size: 2rem;
    }

    .p__ingredientes{
        font-size: .9rem;
        bottom: 3vh;
        right: 3vw;
        line-height: 1.4;
    }

    .p__precio{
        font-size: 1.3rem;
        position: relative;
        right: 3vw;
        bottom: 2vh;
    }

    .car {
        font-size: 3.2vw;
        top: 45vh;
        left: 66vw;
    }

    .Back {
        font-size: .7rem;
        padding: 1.5vw;
        top: -50vh;
        left: -1vw;
    }

    .contador { 
        display: flex;
        gap: 3vw;
        margin: 0 10px;
    } 

    .notingredient{
        font-size: 1.3rem;
    }


}


/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {


    .precio {
        top: 20vh;
    }

    .precio p {
        font-size: 2.6rem;
        text-align: center;
        font-weight: bold;

    }

    .img_productEspecific {
        cursor: pointer;
        height: 45vh;
        margin: auto;
        margin-bottom: 6vh;
        margin-top: 35vh;
        position: relative;
        transition: opacity 0.5s ease;
        width: 25vw;
    }
    
    .img_productEspecific__img {
        border-radius: 1vw;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease;
    }
    
    .img_productEspecific:hover .img_productEspecific__img {
        opacity: 0.7; /* Aplica opacidad a la imagen */
    }
    
    .description_productEspecific {
        width: 23.5vw;
        height: 42.5vh;
        color: var(--limpieza);
        margin: auto;
        /* font-size: .2rem; */
        position: absolute;
        top: 50%; /* Centrar verticalmente */
        left: 50%; /* Centrar horizontalmente */
        transform: translate(-50%, -50%); /* Ajuste de centrado */
        background-color: rgba(60, 64, 65, 0.5); /* 50% de opacidad - Fondo semitransparente */
        padding: 10px;
        border-radius: 8px;
        opacity: 0; /* Inicialmente oculto */
        transition: opacity 0.5s ease; /* Transición suave */
    }
    
    .img_productEspecific:hover .description_productEspecific {
        opacity: 1; /* Mostrar descripción al pasar el cursor sobre la imagen */
    }

    /* .nombre__descripcion {
        font-size: 1.8rem;
        font-weight: 600;
    } */

    .nombre__descripcionp {
        margin-top: 1vh;
        font-size: 1.5rem;
        text-align: center;
    }

    .p__ingredientes{
        font-size: 1.1rem;
        position: relative;
        bottom: -2vh;
        right: 1vw;
    }

    .p__precio{
        color: var(--CrujienteMasa);
        font-size: 1.6rem;
        position: relative;
        right: 1vw;
        top: 8vh;
    }
    
    .boton {
        width: 5vw;
        height: 6vh;
        font-weight:15px;
        left: 35vw;
        font-size: 1.2rem;
    }

    .car {
        color: var(--icono);
        font-size: 1.5vw;
        position: absolute;
        left: 60vw;
        /* bottom: 7vh; */
        top: 50vh;
        cursor: pointer;
    }

    .Back {
        color: var(--limpieza);
        font-size: 1.1vw;
        position: relative;
        left: 10vw;
        top: -30vw;
        background: var(--CrujienteMasa);
        padding: 1vw;
        border-radius: 5vw;
    }


    
}
