/* VERSION MOVIL */

.img-producto {
    /* border-radius: 45%; */
    height: 17vh;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    width: 32vw;
    transition: transform 0.9s ease-in-out;
}

.img-producto:hover {
    transform: scale(1.1) scale(1);
}

.car {
    color:var(--icono);
    font-size: 6vw;
    position: absolute;
    left: 75vw;
    top: 60vh;
    transition: transform 0.3s ease;
}


.car:hover {
    transform: scale(1.12);
    color: var(--quesoDerretido);
  }

.description {
    font-size: 1.1rem;
    margin: 0 auto;
    width: 80vw;
    /* font-weight: bold; */
    font-family: 'Italianno';
}

/* .nombre__descripcion {
    font-size: 1.4rem;
    font-weight: lighter;
    position: absolute;
    font-family: 'Italianno';
    left: 38vw;
    top: 63vh;
}  */

.precio:hover{
    transform: scale(1.1);
}

.precio p {
    color: var(--limpieza);
    font-size: 5vw;
    
}

.boton {
    background: var(--ingredientesFrescos);
    height: 6vh;
    width: 10vw;
    position: relative;
    left: 23vw;
    transition: transform 0.3s ease;
    font-size: .8rem;
    padding: 5px;

}

.cantidad {
    font-size: .8rem;
    position: absolute;
    left: 70vw;
    bottom: 50vh;
    background: var(--CrujienteMasa);
    padding: .2rem;
}

.contador_cart { 
    display: flex;
    gap: 5vw;
    margin: 0 10px;
    margin-top: 3vh;
    margin-left: 4vh;
} 

.costo{
    font-size: .8rem;
    position: absolute;
    left: 70vw;
    bottom: 45vh;
    background: var(--CrujienteMasa)
}

span {
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    left: 83vw;
    bottom: 45vh;
}

.precio__total{
    background: var(--quesoDerretido);
}

.contador__valor{
    position: absolute;
    left: 87vw;
    margin-bottom: 5.5vh;
}


 .carrito{
        padding: .5vw;
        background: var(--ingredientesFrescos);
        font-size: 1rem;
        font-family: 'Italianno';
        border-radius: 1vw;
        position: absolute;
        left: 70vw;
        bottom: 35vh;
        width: 25vw;
        height: 5vh;
    }

.b-back {
    color: var(--limpieza);
    font-size: .8rem;
    position: relative;
    left: 5vw;
    bottom: 33vh;
    background: var(--CrujienteMasa);
    padding: 1vw;
    border-radius: 2vw;
}


/* -----VERSION TABLET----- */


@media (min-width: 768px) {

    .img-producto {
        width: 20vw;
        height: 17vh;
        /* border-radius: 45%;        */
    }

    .boton {
        height: 6vh;
        width: 7vw;
        left: 31vw;
        font-size: 1.1rem;
        padding: 5px;

    }
    
    .precio {
        width: 17vw;
        height: 6vh;
        background-color: var(--quesoDerretido);
        font-weight:15px;
        border-radius: 10px;
        position: relative;
        left: 20vw;
    }

    .precio p {
        font-size: 1.9rem;
        text-align: center;
        font-weight: bold;

    } 

    .car {
        font-size: 4vw;
        top: 55vh;
        left: 66vw;
    }

     .description {
        width: 44vw;
        margin: auto;
        font-size: 1.4rem;
        margin-top: 2vh;
        font-family: 'Italianno';
        /* margin-right: 32vw; */
    }

    .costo{
        font-size: 1.1rem;
        left: 65vw;
        bottom: 55vh;
    }

    .contador_cart { 
        display: flex;
        gap: 3vw;
        margin: 0 10px;
        margin-top: 5vh;
        margin-left: 5vw;
    } 

    .contador__valor {
        font-size: 1rem;
        left: 77vw;
        margin-bottom: 5.5vh;
    }

    .contador_total{
        margin-top: 5vh;
    }

    span {
        font-size: 1rem;
        font-weight: bold;
        position: absolute;
        left: 75vw;
        bottom: 55vh;
    }

    .nombre__descripcion{
        font-size: 1.7rem;
        position: absolute;
        left: 42vw;
        top: 54vh;
    }

     .carrito{
        padding: .5vw;
        font-size: 1.2rem;
        left: 70vw;
        bottom: 40vh;
        width: 15vw;
        height: 5vh;
    }

    .b-back {
        font-size: .9rem;
        position: relative;
        left: 5vw;
        bottom: 37vh;
        padding: 1vw;
        border-radius: 2vw;
    }

    .cantidad {
        font-size: 1.1rem;
        left: 65vw;
        bottom: 60vh;
    }

}
/* -----VERSION DESKTOP----- */

@media (min-width: 1024px) {


    /* .precio {
        top: 20vh;
    } */

    .precio p {
        font-size: 2.6rem;
        text-align: center;
        font-weight: bold;
    }

    .img-producto {
        width: 15vw;
        height: 30vh;
        margin: auto;
        margin-bottom: 6vh;
        margin-top: 25vh;
        /* border-radius: 50%; */
    }

    .container__cart{
        margin: 0 auto;
        width: 50vw;
    }
    
    .description {
        width: 25vw;
        margin: auto;
        font-size: 1.5rem;
        margin-top: 1vh;
        font-family: 'Italianno';
        /* margin-right: 32vw; */
    }
    
    .boton {
        width: 4vw;
        height: 6vh;
        font-weight:15px;
        border-radius: 10px;
        left: 37vw;
        font-size: 1.2rem;
        padding: 5px;

    }

    .car {
        color: var(--icono);
        font-size: 3vw;
        position: absolute;
        left: 60vw;
        /* bottom: 7vh; */
        top: 50vh;
        cursor: pointer;
    }

    .contador_cart { 
        display: flex;
        gap: 2.5vw;
        /* margin: 0 10px; */
        margin-left: 5vw;
    } 

    .contador__valor{
        font-size: 1.5rem;
        position: absolute;
        left: 73vw;
        margin-bottom: -12.5vh;
    }

    span {
        font-size: 1.3rem;
        font-weight: bold;
        position: absolute;
        left: 74vw;
        bottom: 64.5vh;
    }

    
    .b-back {
        color: var(--limpieza);
        font-size: 1.3vw;
        position: relative;
        left: 10vw;
        bottom: 55vh;
        background: var(--CrujienteMasa);
        padding: .8vw;
        border-radius: 1.5vw;
    }

    .precio__total{
        position: absolute;
        
    } 
    
    .cantidad {
        font-size: 1.5rem;
        position: absolute;
        left: 65vw;
        bottom: 65vh;
    }
    
    .costo{
        font-size: 1.5rem;
        position: absolute;
        left: 65vw;
        bottom: 52vh;
        background: var(--CrujienteMasa)
    }

    .nombre__descripcion{
        
        font-size: 2.7rem;
        font-family: 'Italianno';
        position: absolute;
        left: 44vw;
        top: 57vh;
    }

    .contenedor__total{
        position: absolute;
        bottom: 2vh;
    }

    .carrito{
        padding: 1vw;
        font-size: 1.5rem;
        border-radius: 1vw;
        position: absolute;
        width: 12vw;
        height: 7vh;
        left: 65vw;
        bottom: 40vh;
    }
}
