


.profile__main {
    margin-top: 20vh;
}

@media (min-width: 1024px) {

.titulo__profile {
    font-family: "italianno";
    font-size: 3.5rem;
    font-weight: lighter;
    text-align: center;
}    

.profile__main p{
    text-align: center;
    font-weight: bold;
}

.foto__profile img{
    border-radius: 3vw;
    height: 45vh;
    margin: 0 auto;
    width: 25vw;
   
}

.logout{
    position: absolute;
    top:30vh;
    left: 5vw;
    background: var(--quesoDerretido);
    color: var(--limpieza);
    padding: 1vw;
    border-radius: 5vw;
}

.admin-link{
    position: absolute;
    top:20vh;
    left: 5vw;
    background: var(--quesoDerretido);
    color: var(--limpieza);
    padding: 1vw;
    border-radius: 5vw;
}

.btn-profile {
    background: var(--ingredientesFrescos);
    color: var(--fondo);
    border: none;
    border-radius: 2vw;
    cursor: pointer;
    font-family: 'Italianno';
    font-size: 1.5rem;
    margin-right: 1vw;
    padding: 10px 20px;
    position: absolute;
    bottom: 10vh;
}

.btn-profile:hover {
    transition: ease-in-out 0.2s;
    background: var(--fondo);
    color: var(--limpieza);
}

}