
/* REGISTER MOVIL */

.titulo__registro{
        margin-top: 1vh;
        font-size: 2.5rem;
        }  

form {
        display: flex;
        flex-direction: column;
        margin: 10vw;
        padding-top: 5vh;
        font-family: "italiana";
        }

.registro {
        background-image: url('../images/fondoregister2.jpg'); 
        background-size: contain;
        background-size: 47vh;
        box-shadow: 1px 1px 10px var(--quesoDerretido);
        width: 70vw;
        height: 58vh;
        margin: 0 auto;
        border-radius: 3vw;
        opacity: 0.9;
        margin-bottom: 2vh;
}

input {
        margin: 1.1vh 0 0 2.5vw;
        font-size: .8rem;
        width: 65vw;
        border: none; 
        border-bottom: .1vw solid var(--quesoDerretido);
        background: transparent;
        box-sizing: border-box;
        padding: 4%;
        color: var(--limpieza);
}


.user {
        color:var(--quesoDerretido);  
        font-size: .8rem;
        position: absolute;
        right: 16vw;
        top: 54vh;
}

.user1 {
        color:var(--quesoDerretido);  
        font-size: .8rem;
        position: absolute;
        right: 16vw;
        top: 61vh;
    }


.user2 {
        color:var(--quesoDerretido);  
        font-size: .8rem;
        position: absolute;
        right: 16vw;
        top: 69vh;
}

.user3 {
        color:var(--quesoDerretido);  
        font-size: .8rem;
        position: absolute;
        right: 16vw;
        top: 76vh;
}

.user4 {
        color:var(--quesoDerretido);  
        font-size: .8rem;
        position: absolute;
        right: 16vw;
        top: 83vh;
}    

.user5 {
        color:var(--quesoDerretido);  
        font-size: .8rem;
        position: absolute;
        right: 16vw;
        top: 91vh; 
}

.Recordarme {
        color: var(--limpieza);
        font-family: "italiana";
        margin: 3.9vw 0 0 5vh;
}

.recordarme__btn {
        margin: -1.9vh 0 0 10vh;
}

.registro input::placeholder { 
        color: var(--limpieza);    
}

.registro input:focus { 
        outline: none;    
}

.form_div_button{
        color: var(--limpieza);
        font-size: 1rem;
        width: 22vw;
        height: 5vh;
        border: none; 
        margin-left: 25vw;  
        margin-top: 4vh;
        background: var(--quesoDerretido);
        border-radius: 2vh;
}


/* VERSION TABLET */

@media (min-width: 768px) {

.titulo__registro{
        margin-top: 2vh;
        font-size: 2.5rem;
        }        

.registro {
 
        background-size: contain;
        background-size: 77vh ;
        width: 50vw;
        height: 52vh;
        margin: 0 auto;
        border-radius: 2vw;
        opacity: 0.9;
        margin-bottom: 2vh;
        }

form {
        display: flex;
        flex-direction: column;
        margin: 10vw;
        padding-top: 7vh;
        font-family: "italiana";
        }

input {
        margin: 1vh 0 0 2.5vw; 
        padding: 2%;
        width: 45vw;
   
}

.user { 
        font-size: 1rem;
        right: 24vw;
        top: 43vh;
    }

.user1 { 
        font-size: 1rem;
        right: 24vw;
        top: 49vh;
    }
   
.user2 { 
        font-size: 1rem;
        right: 24vw;
        top: 55vh;
    }

.user3 { 
        font-size: 1rem;
        right: 24vw;
        top: 60.5vh;
    }

.user4 { 
        font-size: 1rem;
        right: 24vw;
        top: 66vh;
    }

    .user5 {
        color:var(--quesoDerretido);  
        font-size: 1rem;
        right: 24vw;
        top: 73vh; 
}    

    .form_div_button {
        font-size: 1rem;
        width: 22vw;
        height: 5vh;
        border: none; 
        margin-left: 13vw;  
        margin-top: 4vh;
        border-radius: 1vh;
    }

}

/* VERSION DESCKTOP */

@media (min-width: 1024px) {

        .titulo__registro{
                margin-top: 18vh;
                font-size: 4rem;
        }

        form {
                display: flex;
                flex-direction: column;
                margin: 10vw;
                padding-top: 7vh;
                font-family: "italiana";
        }

        .registro {
                background-size: contain;
                background-repeat: no-repeat;
                background-size: 50vh ;
                width: 25vw;
                height: 58vh;
                margin: 0 auto;
                border-radius: 1.5vw;
                opacity: 0.85;
                margin-bottom: 2vh;
                padding-top: 3vh;
        }

        input {
                margin: 1.2vh 0 0 1.6vw;
                font-size: .9rem;
                width: 22vw;
                border: none; 
                border-bottom: .1vw solid var(--quesoDerretido);
                background: transparent;
                box-sizing: border-box;
                padding: 4%;
                color: var(--limpieza);
        }

        .Recordarme {
                color: var(--limpieza);
                font-family: "italiana";
                margin: 1.9vw 0 0 5vh;
        }

        .recordarme__btn {
                margin: -1.9vh 0 0 3vh;
        }

        .registro input::placeholder { 
                color: var(--limpieza);    
        }

        .registro input:focus { 
                outline: none;    
        }

        .user {
                color:var(--quesoDerretido);  
                font-size: 1rem;
                position: absolute;
                right: 35vw;
                top: 25vh;
        }

        .user1 {
                color:var(--quesoDerretido);  
                font-size: 1rem;
                position: absolute;
                right: 35vw;
                top: 32vh;
        }
    

        .user2 {
                color:var(--quesoDerretido);  
                font-size: 1rem;
                position: absolute;
                right: 35vw;
                top: 39vh;
            }

        .user3 {
                color:var(--quesoDerretido);  
                font-size: 1rem;
                position: absolute;
                right: 35vw;
                top: 46vh;
            }

        .user4 {
                color:var(--quesoDerretido);  
                font-size: 1rem;
                position: absolute;
                right: 35vw;
                top: 53vh;
        }  

        .user5 {
                color:var(--quesoDerretido);  
                font-size: 1rem;
                position: absolute;
                right: 35vw;
                top: 60vh; 
        }

        .form_div_button {
                color: var(--limpieza);
                font-size: 1rem;
                width: 10vw;
                height: 5vh;
                border: none; 
               /* margin: 1.8vw 0 0; */
                margin-left: 7.5vw;  
                margin-top: 3vh;
                background: var(--quesoDerretido);
                border-radius: 2vh;
        }
   
}