.boton_eliminar {
    background: var(--tomate);
    color: var(--limpieza);
    border: none;
    border-radius: 2rem;
    padding: 9px 10px;
    cursor: pointer;
    width: 10vw;
    font-size: 0.8rem;
    margin: 0 auto;
    margin-top: 1.5vh;

}

.user5 {
                 
    font-size: 1rem;
    position: absolute;
    right: 35vw;
    top: 53vh;
}  