<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    

    <main>
        <img src="" alt="" class="img-producto">
        
        <h2>Producto</h2>

        <h3>Descripcion</h3><i class="fa-solid fa-cart-shopping car"></i>

        <p class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga sapiente animi delectus quisquam magni quis fugiat veniam assumenda facilis cupiditate, doloremque cumque illum vero consectetur atque sint nihil blanditiis! Voluptatum?</p>

        <div class="precio">
            <p>Precio</p>
        </div>


    </main>


</body>
</html>