<!DOCTYPE html>
<html lang="en">

<head
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header', {title}) %>
    
</header>


<body>

    <main">
        <img src="./images/margueritafoto.webp" alt="" class="img-producto" id="producto">

        <h3>Ingredientes</h3><i class="fa-solid fa-cart-shopping car"></i>

        <p class="description" id="description">"Salsa de tomate", "Mozzarella de bufala", "albahaca", "Aceite de oliva</p>
        
        <div class="contador"> 
    
            <button class="boton">$0</button>
        
            <button class="boton" onclick="decrementar()">-</button> 
            <span id="valor">0</span> 
            <button class="boton" onclick="incrementar()">+</button> 

            <button class="boton">5%</button>
        </div>

    </main>

    <script src="../javascripts/productCartl.js"></script>

</body>
</html>