<head>
    <%- include('../partials/head', {title}) %>
</head>

<header>

    <%- include('../partials/header') %>
    
</header>

    
    <h1 class="titulo__productAdd">Agregar Nuevo Producto</h1>
<body>

<form class="form__productAdd" method="post"> 
    
    <!-- <label for="name">Nombre del Producto:</label>  -->
    <input type="text" id="name" name="name" required placeholder="Nombre del producto"> 
    
    <!-- <label for="description">Descripcion:</label>  -->
    <input type="text" id="description" name="description" required placeholder="Descripcion"> 

    <!-- <label for="category">Categoría:</label>  -->
    <input type="text" id="category" name="category" required placeholder="Categoria"> 
    
    <!-- <label for="size">Tamaño</label> -->
    <input type="text" id="size" name="size" required placeholder="Tamaño">
    
    <!-- <label for="price">Precio:</label>  -->
    <input type="number" id="price" name="price" required placeholder="Precio"> 
    
    <!-- <label for="image"></label> -->
    <!-- <input type="file" id="image" name="image" required placeholder="Imagen"> -->

    <button type="submit" class="btn_productAdd">Agregar Producto</button>

</form>
</body>