<!DOCTYPE html>
<html lang="en">

<head
    
</head>
   

    <h2>Productos Clasicos</h2>

    <main class="main-container">

        <section class="food">
            <article>
                <h3>Marguerita</h3>
                
                <img src="./images/margueritafoto.webp" alt="Pizza Marguerita" class="foto">
            
            
                <p>La Pizza Margherita es un clásico de la cocina italiana que destaca por su sencillez y sabor auténtico. Es una de las pizzas más apreciadas y populares en todo el mundo, y su receta tradicional se mantiene inalterada desde hace siglos.
                </p>
                
            </article>
            <article>
    
                <h3>Pepperoni</h3>
    
                <img src="./images/pepperoniFoto.webp" alt="Pizza Pepperoni" class="foto">
                <p>La pizza pepperoni es un clásico de la cocina italiana-americana que combina una base de masa crujiente y esponjosa con sabores intensos y deliciosos. Está cubierta con una capa de salsa de tomate condimentada, queso mozzarella derretido y abundantes rodajas de pepperoni</p>
    
            </article>
    
            <article>
                <h3>Napoletana</h3>
    
                <img src="./images/napoletana.webp" alt="Pizza Napoletana" class="foto">
                <p>
                    La simplicidad de la pizza napoletana resalta la calidad de sus ingredientes frescos y locales. Es un platillo que captura la esencia de la cocina napolitana: auténtico, sencillo y lleno.
                </p>
            </article>
            
        </section>

        <h2>Productos Especiales</h2>

        <section class="food food__2">  
            
            <article>
                <h3>Capriciosa</h3>
    
                <img src="./images/Capricciosa.webp" alt="" class="foto">
                <p>
                    Algunos chefs incluyen huevo cocido, salame o alcaparras, dependiendo de la región y las preferencias. La Pizza Caprichosa es un reflejo de la creatividad culinaria italiana, ideal para quienes disfrutan de una explosión de sabor
                </p>
            </article>
            
            <article>
                <h3>Pugliese</h3>
                <img src="./images/pugliesefoto.webp" alt="Pizza pugliese" class="foto">
                <p>
                    La Pizza Pugliese es una opción perfecta para quienes buscan una experiencia sencilla pero sabrosa, donde los ingredientes locales brillan por sí mismos
                </p>
            </article>
    
            <article>
                <h3>Vegetariana</h3>
                <img src="./images/vegetarianafoto.webp" alt="Pizza vegetariana" class="foto">
                <p>
                    La Pizza Vegetariana combina lo mejor de los ingredientes naturales, ofreciendo una experiencia sabrosa y versátil que encanta tanto a vegetarianos como a amantes de la comida saludable.
                </p>
            </article>
    
            <article>
                <h3>Gorgonzola y Pera</h3>
                <img src="./images/Gorgoypera.webp" alt="Pizza gorgonzola" class="foto">
                <p>
                    La Pizza de Gorgonzola y Pera es una mezcla armoniosa de texturas y sabores, ideal para ocasiones especiales o para disfrutar con una copa de vino blanco o prosecco. Su perfil único la convierte en una experiencia inolvidable 
                </p>
            </article>

        </section>

        
        <h2>Complementos: Ensaladas</h2>

        <section class="food food__3">
            <article>
                <h3>Ensalada Tricolor</h3>
                <img src="./images/ensaladaTricolorfoto.webp" alt="Ensalada tricolor" class="foto">
                <p>
                    Se elabora de manera armoniosa, destacando los colores de cada ingrediente, y se aliña justo antes de servir. La Ensalada Tricolor es una celebración de los sabores mediterráneos, perfecta para quienes disfrutan de platos saludables y estéticamente atractivos.
                </p>
    
            </article>
    
            <article>
                <h3>Ensalada Mixta</h3>
                <img src="./images/ensaladaMixta.webp" alt="Ensalada mixta" class="foto">
                <p>La Ensalada Mixta es un plato equilibrado, saludable y adaptable, ideal para quienes buscan una opción ligera pero llena de sabor. Su simplicidad y frescura la convierten en una opción popular</p>
            </article>
            
        </section>


    </main>
    
</html>