<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h2 class="titulo__registro">Formulario de Registro</h2>
        <div>

            <form action="/processRegister" method="POST" class="registro" enctype="multipart/form-data">
        
                <label for="name"></label><i class="fa-regular fa-user user"></i>
                <input type="text" name="firstName" id="nombre" placeholder="Nombre" minlength="5">
    
                <label for="lastname"></label><i class="fa-regular fa-user user1"></i>
                <input type="text" name="lastName" id="apellido" placeholder="Apellido" minlength="5">
    
                <label for="email"></label><i class="fa-regular fa-envelope user2"></i>
                <input type="email" name="email" id="email" placeholder="email">        
        
                <label for="password"></label><i class="fa-solid fa-lock user3"></i>
                <input type="password" name="password" id="password" placeholder="Password"  required>
                <div id="passwordError" class="error-message"></div>
        
                <label for="confirm_password"></label><i class="fa-solid fa-key user4"></i>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar password" required>
                <div id="confirmpasswordError" class="error-message"></div>

                <label for="image"></label><i class="fa-regular fa-image user5"></i>
                <input type="file" name="image" id="image">
                
               <!-- <label for="remember" class="Recordarme">Recordame</label>
               <input type="checkbox" name="remember" id="recordarme" class="recordarme__btn"> -->


            
             <button type="submit" class="form_div_button">Registrar</button>
                
        
            </form>
            
        </div>
        <p><%= locals.error && error %></p>

    </main>

    
</body>
</html>