<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h2 class="titulo__registro">Formulario de Registro</h2>

            <!--Formulario de registro--> 

            <form id="form-Validation" action="/processRegister" method="POST" class="registro" enctype="multipart/form-data">

                <label for="name"></label><i class="fa-regular fa-user user"></i>
                <input type="text" name="firstName" id="nombre" placeholder="Nombre" minlength="2" >
                <small class="error-menssage"></small>
            
                <label for="lastname"></label><i class="fa-solid fa-user user1"></i>
                <input type="text" name="lastName" id="apellido" placeholder="Apellido" minlength="2" >
                <small class="error-menssage"></small>
            
                <label for="email"></label><i class="fa-regular fa-envelope user2"></i>
                <input type="email" name="email" id="email" placeholder="Correo electrónico" >
                <small class="error-menssage"></small>
                      
                <label for="password"></label>
                <input type="password" name="password" id="password" placeholder="Contraseña" minlength="8" autocomplete="new-password" >
                <small class="error-menssage"></small>
                <i class="fa-solid fa-eye-slash user3" id="togglePassword"></i>      
                
                
                <label for="confirm_password"></label>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar contraseña" autocomplete="new-password" >
                <small class="error-menssage"></small>
                <i class="fa-solid fa-eye-slash user4" id="togglePassword2"></i>
            
                <label for="image"></label>
                <input type="file" name="image" id="image" accept=".jpg,.jpeg,.png,.gif" >
                <small class="error-menssage"></small>
            
                <button type="submit" class="form_div_button">Registrar</button>
            </form>
            
            
                <p><%= locals.error && error %></p>

                    <!-- Contenedor para los mensajes de error -->
                    <div class="error-container">
                        <% if (locals.errors && locals.errors.length > 0) { %>
                            <h3>Errores</h3>
            
                            <ul>
                                <% errors.forEach(error => { %>
                                    <li><%= error.msg %></li>
                                <% }); %>
                            </ul>
                        <% } %>
                    </div>

    </main>
    
    <script src="/javascripts/register.js" defer></script>
</body>
</html>