<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Formulario de Registro</h2>

    <div class="login">
        <form action="" method="post" class="register">
    
            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" placeholder="Usuario" minlength="10">
    
            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Password" minlength="10" required>
    
            <label for="confirm_password"></label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar password" minlength="10" required>
    
            <button type="submit">Registrar</button>
    
        </form>
        
    </div>
    
</body>
</html>