<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>

    <header>
        <%- include('../partials/header') %>
    </header>

    <main>
        <h2 class="titulo__registro">Formulario de Registro</h2>
    
        <div>
            <form action="" method="post" class="registro" >
        
                <label for="name"></label><i class="fa-regular fa-user user"></i>
                <input type="text" name="Name" id="nombre" placeholder="Nombre" minlength="10">
    
                <label for="lastname"></label><i class="fa-regular fa-user user1"></i>
                <input type="text" name="lastname" id="apellido" placeholder="Apellido" minlength="10">
    
                <label for="telephone"></label><i class="fa-solid fa-phone user2"></i>
                <input type="tel" name="telephone" id="telefono" placeholder="Telefono" minlength="10">
        
        
        
                <label for="password"></label><i class="fa-solid fa-lock user3"></i>
                <input type="password" name="password" id="password" placeholder="Password" minlength="10" required>
                <div id="passwordError" class="error-message"></div>
        
                <label for="confirm_password"></label><i class="fa-solid fa-key user4"></i>
                <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirmar password" minlength="10" required>
                <div id="confirmpasswordError" class="error-message"></div>
                
               <label for="remember" class="Recordarme">Recordame</label>
               <input type="checkbox" name="remember" id="recordarme" class="recordarme__btn">

            
             <button type="submit" class="form_div_button">Registrar</button>
                
        
            </form>
            
        </div>

    </main>

    
</body>
</html>