

<div class="footer__container">
    <img src="../images/Logo.webp" alt="logo de pizzeria"  class="img__footer">
</div>


<section class="icons">
    
    <h2 class="titulo__footer">Horarios</h2>
    
    <p>De domingos a jueves de 06:00 a 12:00 hs.</p>
    <p>Viernes y sábados de 06:00 a 02:00 hs.</p>
    
    
    <h3 class="titulo__footer-1">Redes sociales</h3>
    
         <div class="redes">
            <a href="https://www.linkedin.com/in/tambutto/" class="enlaces"><i class="fa-brands fa-linkedin-in icono"></i></a>
            <a href="#" class="enlaces"><i class="fa-brands fa-instagram icono" ></i></a>
            <a href="#" class="enlaces"><i class="fa-brands fa-facebook-f icono" ></i></a>
            
            <a href="#top" id="scrollToTop">
                <i class="fa-solid fa-arrow-up arrow__footer"></i> <!-- Flecha que vuelve hacia arriba -->
            </a>
        </div>
        

        <script src="../javascripts/footer.js"></script>
        
    
        
</section>
