<!DOCTYPE html>
<html lang="en">
    
    <body>
        <header class="container">
            <canvas></canvas>
           
            <img src="/images/Logo.webp" alt="imagen de logo" class="img-logo">
        
            <!-- MENU DE NAVEGACION -->
            <nav class="navbar">
                <div>
                    <i class="fa-solid fa-pizza-slice menu" id="iconoPizza" onclick="menuPizza()"></i>
                </div>
                
                
                    <ul id="desplegable" class="menu-desplegable">
                        <li class="li"><a href="/">Home</a></li>
                        <li class="li"><a href="/products">Products</a></li>
                        <li class="li"><a href="/login">Login</a></li>
                        <li class="li"><a href="/register">Register</a></li>
                        <li class="li"><a href="/products/productCartl">Ordenar</a></li>
                        <li class="li"><a href="/admin">Admin</a></li>
                    </ul>

                
            </nav>
            
        </header>
       
        <script src="/javascripts/header.js"></script>
    </body>
</html>