<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
     
    <img src="./images/principal.jpg" alt="banner2" class="img-banner">
    
    
    <main class="main-container">

        <div class="titulo__h1">
            <h1>Pizzeria Mafia Marguerita</h1>
        </div>
        
        <section class="section">

            <img src="./images/fondo1.webp" alt="fondo" class="img-pizza">

            <p class="sangria">Mafia Marguerita. Esta encantadora pizzería ofrece una variedad de pizzas que rinden homenaje a la tradición napolitana, con ingredientes frescos y de alta calidad. Desde la clásica Pizza Marguerita hasta otras opciones más creativas, Mafia Marguerita tiene algo para todos los paladares.

                El ambiente acogedor y el servicio amable hacen que cada visita sea especial. Los chefs de Mafia Marguerita son verdaderos maestros de la pizza, utilizando técnicas tradicionales para cocinar cada pizza a la perfección. La corteza crujiente y la masa aireada son testimonio de su dedicación a la excelencia.
                
                Además, la pizzería ofrece una selección de vinos italianos, cervezas y refrescos que complementan perfectamente sus deliciosas pizzas. Ya sea que vayas solo, con amigos o en familia, Mafia Marguerita te ofrecerá una experiencia gastronómica inolvidable.</p>
        </section>
        
        
    </main>

    <script src="../javascripts/home.js"></script>
</body>
</html>